<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.kevingoldarapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    
    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme"
      android:largeHeap="true"
      android:usesCleartextTraffic="true">
      <meta-data android:name="MAPBOX_ACCESS_TOKEN" android:value="pk.eyJ1Ijoic2h1a3VtZWkiLCJhIjoiY2tzdmd5M2ZrMDk5NjJwbHE1bTVsNm50dSJ9.zP2K1wpqTMInYrdGeXp1GQ" />
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
    </application>
</manifest>
